{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
{% block content %}
{{block.super}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
    #background1 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
       
    }
</style>
<div class="container" id="background1">
    <div class="col-md-6" style="border-radius:1%;">
        <div class="projects" style="margin-top:50px;">
            <div class="container">
                <div class="row">
                    {% for project in projects %}
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card" style="height:360px;margin-bottom:10px;">
                            <div class="card-body">
                                <a href="{% url 'projectdetails' id=project.id %}">
                                    <div class="img-cont">
                                        <img class="card-img-top mb-10 img-responsive i-images"
                                            src="{{project.project_image.url}}" style="height:270px;width:300px;">
                                        <div class="overlay">
                                            <div class="text" style="font-size:20px; font-family: 'Special Elite', cursive; color: white;">{{project.project_title}}</div>
                                            <p style="font-family: 'Special Elite', cursive; font-size: 15px; color: white;">By:{{project.user}}</p>
                                            <div class="details"><a href="{% url 'projectdetails' id=project.id %}"
                                                    class="btn btn-primary btn-md" style="font-family: 'Special Elite', cursive;">RATE/REVIEW</a></div>
                                        </div>
                                    </div>
                                </a>
                                <br>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}