{%extends 'base.html'%}
{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<style>
    #background5 {
        background-color: darkslategray;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
       
    }
</style>
<div class="container" id="background5">
    <div class="row" style="margin-top:40px;">
        <div class="col-md-1"></div>
        <div class="col-sm-12 col-md-5 col-lg-4">
            <div class="card" style="height:340px;width:150%;margin-bottom:10px;">
                <div class="card-body">
                    <a href="{% url 'projectdetails' id=project.id %}">
                        <img class="card-img-top mb-10" src="{{project.project_image.url}}"
                            style="height:270px; width:300px;">
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-text">
                    </div>
                </div>
            </div>
        </div>
        <!-- Empty div -->
        <div class="col-md-5">
            <div class="card" style="height:340px;margin-bottom:10px;">
                <div class="card-body">
                    <p style="font-size: 20px; font-family: 'Special Elite', cursive; color: white;"> <b style="font-size: 30px;">TITLE : </b> {{project.project_title}} </p>
                    <p style="color: white; font-family: 'Special Elite', cursive; font-size: 20px;">
                        {% autoescape off %}
                        <b style="font-size: 30px; font-family: 'Special Elite', cursive;">DESCRIPTION : </b> {{project.project_description}}
                        {% endautoescape %}
                    </p>
                    <p style="font-size: 20px; font-family: 'Special Elite', cursive; color: white;"> <b style="font-size: 30px;">Created by : </b> {{user.username}}</p>
                    <br>
                    <a href="{% url 'review' project_id=project.id%}" class="btn btn-primary btn-lg"
                        style="margin-top:4px; font-family: 'Special Elite', cursive;">Rate Project</a>
                    <br>
                    <br>
                    <a href="{{project.project_link}}" class="btn btn-primary btn-lg" target="_blank" style="font-family: 'Special Elite', cursive;">Visit Link</a>
                </div>
                <div class="card-body">
                    <div class="card-text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if reviews %}
        <div class="col-md-2">
            <p style="font-size: 20px; font-weight: bold; text-align: center; padding-left:200px; font-family: 'Special Elite', cursive; color:white;">DESIGN</p>
        </div>
        <div class="col-md-2">
            <p style="font-size: 20px; font-weight: bold; text-align: center; padding-left: 180px; font-family: 'Special Elite', cursive; color: white;">USABILITY</p>
        </div>
        <div class="col-md-2">
            <p style="font-size: 20px; font-weight: bold; text-align: center; padding-left: 180px; font-family: 'Special Elite', cursive; color: white;">CONTENT</p>
            {%else%}
            <h3 style="padding-left:400px; font-family: 'Special Elite', cursive;">This project has no ratings</h3>
            {%endif%}
        </div>
    </div>
    <div class="container">
        {% for review in reviews %}
        <div class="row">
            {% if project.id == review.project.id %}
            <div class="col-md-2" style="font-family: 'Special Elite', cursive; color: white; font-size: 18px;">
                Rating by : <b> {{review.user.username}}</b></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-lg">{{review.design}}</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-lg">
                    {{review.usability}}
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-lg">{{review.content}}</button>
            </div>
            <br>
            <div class="col-md-2">
                <button type="button" class="btn btn-success btn-lg">{{review.average}}</button>
            </div>
            {%endif%}
        </div>
        {% endfor  %}
        {% endblock %}
    </div>
</div>