{%extends 'base.html'%}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

<div class="container" style="margin-top:50px;">

    <div class="row">
        <div class="col md-3"></div>
        {% if results %}
        <h4 class="text-center" style="color:black; font-family: 'Special Elite', cursive; font-size: 30px;" >These are the {{ results|length }} projects found : <em></em> </h4>
        {% else %}
        <h4 class="text-center" style="color:black; font-family: 'Special Elite', cursive;"> Found 0 projects for search term {{message}} <br> <br>
        </h4>
        {% endif %}
    </div>
    <div class="row">
        {% for project in results%}
        <div class="col-md-4">
            <div class="card" style="height:500px;margin-bottom:10px;">
                <div class="card-body">
                    <p style="text-align:center; font-family: 'Special Elite', cursive; font-size: 20px;">{{project.project_title}}</p>
                    <a href="{% url 'projectdetails' id=project.id %}">
                        <img class="card-img-top mb-10" src="{{project.project_image.url}}"
                            style="height:350px;width:100%;">
                    </a>
                    <a href="{% url 'review' project_id=project.id%}" class="btn btn-primary"
                        style="font-family: 'Special Elite', cursive;">RATE/REVIEW</a>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p style="margin-top:-60px; font-family: 'Special Elite', cursive; font-weight: bold; font-size: 20px;">{{project.project_description | safe}} </p>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}